# Ignore VS Code workspace file
/*.code-workspace

# Ignore all . files and . folders, except .gitignore and pre-commit config files
.*
!/.gitignore
!/.pre-commit-config.yaml

# Ignore all __ folders
__*/

Ignore all .py files in the root directory
/*.py
